<?xml version="1.0"?>
<model>
  <name>gr_robot</name>
  <version>1.0</version>
  <sdf version="1.9">model_bis.sdf</sdf>
  <author>
    <name>Odyssey</name>
    <email>your.email@example.com</email>
  </author>
  <description>
    Scout mini with génération robot ros2 Research and Development kit
  </description>
</model>
